extends layout 

block content
  form(method="POST" action="/login" name="loginForm")
    div
      label(for="username") Username
      input(type="text" name="username" value=username?username:"")
      if errors && errors.username
        p= errors.username
    div
      label(for="password") Password
      input(type="password" name="password")
      if errors && errors.password
        p= errors.password
    button(type="submit") Submit
    if sessionError
      p= sessionError.slice(-1)