extends layout

block content
  form(method="POST" action="/register" name="registerForm" class="flex-1 flex flex-col justify-center items-center gap-4")
    div(class="flex flex-col")
      label(for="username") Username
      input(type="text" name="username" value=username?username:"" class="rounded border-black border-2 p-1 min-w-[300px] h-[48px] focus:border-blue-500 focus:outline-none")
      if errors && errors.username
        small(class="text-red-500")= errors.username
    div(class="flex flex-col")
      label(for="password") Password
      input(type="password" name="password" class="rounded border-black border-2 p-1 min-w-[300px] h-[48px] focus:border-blue-500 focus:outline-none")
      if errors && errors.password
        small(class="text-red-500")= errors.password
    div(class="flex flex-col")
      label(for="passwordConfirm") Confirm Password
      input(type="password" name="passwordConfirm" class="rounded border-black border-2 p-1 min-w-[300px] h-[48px] focus:border-blue-500 focus:outline-none")
      if errors && errors.passwordConfirm
        small(class="text-red-500")= errors.passwordConfirm
    button(type="submit" class="text-white bg-blue-500 rounded w-[300px] py-2") Register